body
{
    background: rgb(0,0,0);
}    
#containerForm
{
    background: linear-gradient(  hsla(194, 87%, 47%, 0.3) , #fff, hsla(194, 87%, 47%, 0.3));
    height: 80vh;
    padding: 30vh 10px;
    border-radius: 50px;
}
sup
{
    color: red;
    font-weight: bold;
}
.containerGeral
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkTabela
{
    text-decoration: none;
    font-weight: bold;
}